
/01/.vs
*.sln
*.vcxproj
*.filters
*.user
*.exe
*.recipe
*.ilk
*.log
*.lastbuildstate
*.pdb
*.tlog
/01/Debug
/02/.vs
/02/Debug
/03/.vs
/04/.vs
/03/Debug
/04/Debug
/05/.vs
/05/Debug
/06/.vs
/06/Debug
/07/.vs
/07/Debug
/08/.vs
/08/Debug
/09/.vs/09/v16
/09/Debug
/10/.vs
/10/Debug
/12/.vs
/12/Debug
/11/.vs
/11/Debug
/13/.vs
/13/Debug
/14/.vs
/14/Debug
/15/.vs
/15/Debug
/16/.vs
/17/.vs
/17/Debug
/16/Debug
/18/.vs
/18/Debug
/19/.vs
/19/Debug
